[2021-09-20 08:58] PythonFZ opened #327 "CN, StructureFactor, POMF should have the same args as RDF"
Because they rely on the RDF calctulation one should be able to pass the parameters for the RDF.

This is related to #323

Also replace `_get_rdf_data` with `exp.load.RDF()`

[2021-09-21 09:38] SamTov opened #332 "Add a tutorial data method."
**What feature would you like to see added?**
We could have a data loading method for the tutorials and CI built into MDSuite which just makes a temp directory, downloads some data and changes into the temp directory for further operations.

**Describe how this feature would improve the code**
It would make loading data really easy for our test cases and also fit nicely into the api.

**Describe h

[2021-09-21 12:50] PythonFZ opened #334 "Inconsistent units with the RDF/ADF/SDF calculators"

[2021-09-22 13:17] PythonFZ opened #336 "make `GPU` a global setting"
Currently the GPU args in the calculators does not disable the GPU but only affects the batching.
We should make it a `mds.config.GPU = True`global option and look at that.

Also we should go through all the calculators and check the arguments

[2021-09-24 08:25] PythonFZ opened #338 "include `experiment.molecule` into the database"
-> currently it is {} which leads to issues

[2021-09-28 05:55] #338 closed, assigned to nobody

[2021-09-28 08:32] SamTov opened #339 "update_user_args overwrites attributes"
**Describe the bug**
It appears that the update_user_args in the calculator class overwrites some class attributes such as the plotting.

**To Reproduce**
Currently the issue is resolved using a hard-coded False statement for plotting but this should be removed.

[2021-09-28 11:08] SamTov commented on #339
Was resolved with #340

[2021-09-28 11:08] #339 closed, assigned to SamTov

[2021-09-30 14:12] SamTov opened #343 "Add functionality to remove experiments from a project"
**What feature would you like to see added?**
It should be possible to remove an experiment from a project.

**Describe how this feature would work/possible implementations**
In the project class we should have a method which can remove an experiment from the project along with its data. This could maybe include some options for leaving the data in the SQL database or archiving it somehow.

[2021-10-01 12:28] christophlohrmann opened #351 "Exclude data from calculators"
It would be nice to have a way to exclude certain configurations from calculators. E.g the warmup part at the beginning of a trajectory

[2021-10-04 08:55] PythonFZ opened #356 "Would it be benefitial to store the HDF5 data differently"
Currently the simulation data is stored as `n_atoms, configurations, x` but usually it is batched along the `configurations` so it might be beneficial to restructure the database to store the data as `configurations, n_atoms, x` to increase I/O performance.

This would be interesting to test and discuss if it would be worth the rewriting of the code.

[2021-10-29 10:14] christophlohrmann commented on #356
that would also coincide with the hdf5 standard.
Switching the whole database to hdf5-style would maybe make the learning curve flatter

[2021-10-29 14:11] PythonFZ opened #366 "self.update_user_args should not set the database"

[2021-10-29 15:05] PythonFZ opened #367 "Resolve added file path when checking read_files"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-11-02 12:57] Fratorhe opened #369 "Develop case for viscosity and thermal GK"
**What feature would you like to see added?**
I will develop a test case for viscosity and thermal conductivity based on GK.
Trajectory data will be provided in through a lammps script ready to run, or upload in the data repo.

**Describe how this feature would improve the code**
Users can take this as an example.

[2021-11-02 13:13] christophlohrmann opened #370 "MSD slow (data loading slow?)"
Calculating a MSD for ~100Mb trajectory takes several minutes.

[2021-11-02 14:36] SamTov commented on #370
What are the parameters?

[2021-11-02 14:36] SamTov commented on #369
This would be extremely helpful also for our tests.

[2021-11-02 14:41] christophlohrmann commented on #370
atom_selection = all atoms (100)
tau_values = 500 logspaced points in [0,10'000] from a trajectory that is 100'000 samples long

[2021-11-02 21:04] SamTov commented on #370
Correlation time is 1 then? Because in that case you have 90'000 msds being computed. In general that also should not take too long but I am unsure of the slow down incurred by the tau value slicing. How many minutes are we talking?

[2021-11-03 08:59] christophlohrmann commented on #370
yes correlation time is 1. Are the ensembles batched one by one (i.e. every single ensemble calculation loads from the database)? Because the whole thing easily fits in memory so it could be loaded all together.
We are talking between 15 and 45 minutes. not sure why it has such a large variance

[2021-11-03 08:59] SamTov commented on #370
That is quite odd. ensembles should all be sitting in memory. What is the loop number of the tqdm bar? If 1, then it is all in memory.

[2021-11-03 09:00] christophlohrmann commented on #370
it is a 1-loop, yes

[2021-11-03 09:20] SamTov commented on #370
Okay that is interesting then. I can't reproduce this on my largest datasets. I would need to see where it is spending all of its time as it isn't in the data loading if there is only a single batch.

[2021-11-03 09:23] christophlohrmann commented on #370
for now I can live with the slowdown. Maybe it is because there are a lot of msds for the small tau values

[2021-11-03 09:42] SamTov commented on #370
I could imagine that it is due to many MSDs but you don't have many particles right? I think we need to check whether many computations slows it down more than bigger computations or whether we can run some ensemble loops in parallel if a system only has a few atoms. It would be unnecessary to use 10 cores for 10 particles when we could use those cores to run ensembles in parallel.

[2021-11-03 09:46] Fratorhe opened #371 "Flux files stopped working"
**Describe the bug**
I guess due to the refactoring of the code, flux files are not correctly handled.
Flux files are important because they contain system properties and for many computations are enough instead of the larger trajectory files.
I will re-adapt the code to handle them. It should be relatively easy (I hope).

[2021-11-03 09:47] SamTov commented on #371
Interesting. What error did you get? Let me know if I can look at anything.

[2021-11-03 10:22] Fratorhe commented on #371
The problem is in line 167 in lammps_flux_files:
        self.experiment.species = {"1": []}
ValueError: Attribute 'data' does not accept objects of type <class 'list'>

Which I guess it makes sense to throw an error, since flux files do not include this information.
I remember in the old database system I put this as a "trick" to avoid the issue.

[2021-11-03 10:43] SamTov commented on #371
Yes I think it is a dict now so you may also be able to avoid the issue still. But if we can avoid hacking that would be nice.

[2021-11-03 11:08] Fratorhe commented on #371
Indeed, putting it as a dict hacked the issue.
I am not familiar with the database, so I guess it could be a bit tricky for me...
Also, how do you open the project.db to explore it?

[2021-11-03 11:41] SamTov commented on #371
project.db is the sql database. if you need to get some data from it you can call the run method again and it should return everything in the sql database for those parameters. @PythonFZ can give more info on the SQL side of things.

[2021-11-04 16:10] Fratorhe opened #373 "Definition of autocorrelation in TF"
**Describe the bug**
I was having problems running the test cases using the new TF functions and I built a small test case to compare the autocorrelation function.
It seems there are differences between the definitions used in numpy or scipy with TF.

Any idea what's going on?

I attach here the piece of code to test it:

[code]

[2021-11-04 16:13] SamTov commented on #373
The top autocorrelation does no use zero padding. The outcomes are identical up to the point where the zero-padding comes in. This is why we also now have an integration range argument which allows one to choose where the integral is taken.

[2021-11-04 16:14] SamTov commented on #373
The discussion over whether one can use zero-padding or not is much more debated. In principle, if you know that you are in a region of noise, it should be fine. This is however quite difficult to prove and so we should perhaps not take that upon ourselves.

[2021-11-04 16:34] Fratorhe commented on #373
mm could be that...
Indeed, I tried with this: https://stackoverflow.com/questions/66062998/autocorrelation-with-tensorflow
And it gives the same results of numpy and scipy.

What do you suggest to do?
Re-implement using that stackoverflow answer?
Or may be a way to do it with tfp.stats.auto_correlation?

[2021-11-04 16:36] SamTov commented on #373
We should not include zero padding. We can't be sure that we aren't manipulating relevant data so I don't want to release a calculator that makes such a large assumption. Using the integration range I have successfully extracted the diffusion coefficients I get from the zero-padded version. What I want to do is make an integration computation over all possible data range values and have a slider t

[2021-11-04 16:43] Fratorhe commented on #373
I am a little bit lost in the math I think...
Any reference in mind I can read?

[2021-11-04 16:46] SamTov commented on #373
http://www.it.uom.gr/teaching/linearalgebra/NumericalRecipiesInC/c13-2.pdf

This one isn't bad

[2021-11-05 10:36] Fratorhe commented on #373
But the outcomes from the two implementations (numpy vs tfp) are different in orders of magnitude. There is something else that I am not understanding here.

[2021-11-05 10:57] SamTov commented on #373
Did you copy the code from the imlpementations in MDSuite? Because that does make a difference yes. I will go back and take a look today to make sure it is working correctly.

[2021-11-05 10:59] SamTov commented on #373
[code]

[2021-11-05 11:12] SamTov commented on #373
There is this multiplication by the data_range which is done in the pre-factor. TF seems to do it automatically. If you include this then they match but the numpy/scipy decay faster which would be due to padding.

![image](https://user-images.githubusercontent.com/47057691/140502539-f378eecf-f97d-4f44-a4a9-bb17c9937ae0.png)

This did come up when I first implemented it as I worked with the tfp pac

[2021-11-05 11:20] Fratorhe commented on #373
Yes, that's what I was seeing indeed.
I guess if you use an appropriate integration time, it should be ok.
The problem I'd say is to define that value.

[2021-11-05 13:46] SamTov commented on #373
Yes but this is always a problem. In this case for example, the long time values are not redundant but are be treated as such. This is problematic. If you apply it to real simulation data you will see it converge to around 0 and then fluctuate. You can handle the fluctuations with averaging over values and in this way, we need not make assumptions about convergence.

[2021-11-05 14:14] PythonFZ opened #374 "LaTeX rendering does not work properly (in Jupyter?)"
**Describe the bug**
When using Jupyter Lab the LaTeX formulas displayed by Bokeh do not render.
This might have something todo with MathJax or Jupyter but it needs to be resolved.

**To Reproduce**
Run any calculator in Jupyter Lab that has LaTeX axis labels.

Using Bokeh `2.4.1`

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubuserc

[2021-11-05 14:15] PythonFZ opened #375 "Bokeh plots should be smaller."
The plots are to large in JupyterLab

The following is taken from a 1920x1080 screen. They should be smaller.
![image](https://user-images.githubusercontent.com/46721498/140524325-e1f7bbac-a664-4020-9fd9-7f3b64d49815.png)

[2021-11-05 15:01] Fratorhe commented on #374
Latex does not seem to be natively supported:
https://docs.bokeh.org/en/latest/docs/user_guide/extensions_gallery/latex.html

I do not think it is necessary to have Latex in these figures.
IMO Latex is best for figures that will go in a paper, and usually users will prepare them elsewhere and spend quite some time to get them nice.

I would keep Bokeh for exploratory graphs.

[2021-11-05 15:03] PythonFZ commented on #374
It is https://docs.bokeh.org/en/latest/docs/user_guide/styling.html#latex and we need axis labels.
I don't think that the current labels are suitable for displaying the results.

[2021-11-05 15:03] Fratorhe commented on #375
In normal web visualization they are also too large in some cases.
Should we consider some adaptive option? Or maybe start smaller in size to be on the safe side?

[2021-11-05 15:22] Fratorhe commented on #374
Actually the problem is with the version of Bokeh.
It only became supported in the lastest (2.4.1).
When I installed MDSuite I got Bokeh 2.3.3, I guess because of compatibility?

In any case, with Bokeh 2.4.1 you don't need to do anything.

[2021-11-05 15:30] PythonFZ commented on #374
I am using Bokeh 2.4.1

[2021-11-05 15:33] Fratorhe commented on #374
Then maybe the problem is with Jupyter only? in the normal html I see it properly.

[2021-11-05 16:51] SamTov commented on #334
closed with #325

[2021-11-05 16:51] #334 closed, assigned to SamTov

[2021-11-05 17:02] SamTov commented on #374
So when we first had this issue it was a Bokeh version. But due to some other conflict we had to change it. Just check that the labels are written the same way. Are you plotting the same thing? There was a specific way to have the labels written for it to work and it seems during a merge some were left behind.

Latex would be nice in the figure but as you mentioned and I believe we should stay wit

[2021-11-05 17:08] SamTov commented on #375
The plots are already set to adaptive. Bokeh had some option to define a ration but they removed it. In the case of the web plots I would like to actually build them all into one html document with a nice css template. In this case sizing can be easily taken care of. In the Jupyter case, it is more what Jupyter finds okay. If there is a nice way to automatically re-scale the plots such that it wor

[2021-11-05 17:08] SamTov commented on #371
How did you go on this?

[2021-11-05 17:08] SamTov commented on #366
closed with #325

[2021-11-05 17:08] #366 closed, assigned to nobody

[2021-11-05 17:10] SamTov commented on #356
HDF5 standard or H5MD standard? Does HDF5 have standard for which axis data is expanded along? If so then we should change it without the speed test and abide by programmatic standards.

[2021-11-05 17:16] Fratorhe commented on #371
With the little hack of considering it as one species as we did before made the trick.
I didn't send the PR because I wanted to work more on them.

[2021-11-05 17:17] PythonFZ commented on #375
I agree that we should talk about scaling options for the plots. But in the current state they are to big in Jupyter Lab and that is something that should be changed to a reasonable size.

[2021-11-05 17:40] SamTov commented on #375
[code]
Try changing the gridplot sizing mode argument to 'fixed'

[2021-11-16 16:14] Fratorhe commented on #373
I had a look to statsmodels (https://www.statsmodels.org/dev/generated/statsmodels.tsa.stattools.acf.html) and in their code they use `min(10 * np.log10(nobs), nobs - 1)` as the number of lags.
I do not really know where they got this number, I went through the references they have in the reference page, but I did not find an explanation.
However, this number did not provide good results for therm

[2021-11-17 13:48] PythonFZ opened #377 "publish package on PyPi"
Now, that most of the code is tested we should be able to soon publish MDSuite on PyPi.

# Summary
Add all issues that are holding us back to the PyPi milestone

[2021-11-17 13:54] SamTov commented on #377
These are the ones I would like closed before just to avoid immediate updates in version number.

#375
#373
#369
#356
#351
#327
#233
#221
#215
#40

[2021-11-17 14:26] PythonFZ commented on #377
Perfect, I added them to the milestone.

[2021-11-17 14:28] SamTov commented on #371
Is this now resolved? Or shall we wait for @christophlohrmann to make his PR final?

[2021-11-17 14:36] Fratorhe commented on #371
I fixed it locally with this:

But if @christophlohrmann has updated it in his PR, we can close it anyway.

[2021-11-17 15:02] SamTov commented on #371
I think Christoph has now added the flux files to his new file reading module so they should be handled correctly there. We can link this issue to the PR and have it close later.

[2021-11-17 15:11] SamTov commented on #377
If you have any additional ones feel free to add them in.

[2021-11-22 17:19] MarcBrueck opened #378 "Einstein diffusion coefficient: the exported and the plotted data are not the same"
**Describe the bug**
The exported (saved in the experiment dictionary data) and the plotted data of the einstein diffusion msd (bokeh html plot) are not the same. The data differs by many orders of magnitude. This is probably the case because the plotted data is multiplied by by a time units factor (*self.experiment.units["time"]). That means the data that is plotted data is different from the sav

[2021-11-23 10:47] PythonFZ commented on #378
I can  change the code, but I don't know if this is expected behavior or truly a bug.

[2021-11-23 11:00] SamTov commented on #378
Yeah the plot was to keep the units on the y axis the same as you would get from the analysis but that should be removed I guess. Not the scaling on the x axis of course but the y need not be there.

[2021-11-23 11:00] SamTov commented on #378
Sorry... didn't mean to close it.

[2021-11-23 11:39] MarcBrueck commented on #378
It needs to be clear which units the data is in and as of right now the user has no  idea.

[2021-11-23 12:41] SamTov commented on #378
It should be in the units of msd if the time is not multiplied

[2021-11-24 13:33] Fratorhe opened #379 "Handle single snapshot trajectories"
**What feature would you like to see added?**
For some computations we may want only a single snapshot eg. RDF, rings statistics (when implemented).
Current reader gets the two first configurations to compute the sampling rate.
Therefore, in the case of a single snapshot the code crashes.

**Describe how this feature would work/possible implementations**
I have implemented it locally with a simple

[2021-11-24 13:50] SamTov commented on #379
We could have a `trajectory=True` argument in the file reader that tells the `get_system_properties` method whether or not it is looking at a dynamic trajectory or snapshots.

[2021-11-24 14:03] Fratorhe commented on #379
I am not sure if it is needed to add this argument.
The code should be able to check if there is a single snapshot or more than one.
Unless we can point to a snapshot, which I am not sure if it is useful to have... (the user can export the snapshot somewhere else)

[2021-11-24 14:32] SamTov commented on #379
I don't mind the idea of arguments because as @christophlohrmann and @PythonFZ and I have discussed locally, there may come a time, sort of like now, where people want to do non time related analysis. This would be common with things like monte-carlo or in your case just snapshots of simulations where the time between frames is actually meaningless.

[2021-11-24 20:50] SamTov commented on #373
So currently there is not good method for doing this, in the new plotting I have done up we plot the running integral over the acf so you can see when it converges. However, to come back to the initial problem. With the tfp implementation there is an additional mulitplication of the data range right where the acf is computed:

[code]
which brings it to the original scipy magnitude at t=0 as requir

[2021-11-24 20:50] #373 closed, assigned to nobody

[2021-11-25 00:31] SamTov commented on #378
So upon looking further it appears that this is by design. The issue is deciding what units to save as. When you plot it should ALWAYS be SI units. But the saved data is not necessarily which should be changed. We can enforce that this also becomes SI or we can have it be in the unit system of the simulation. My vote is for SI, please add your opinion @PythonFZ @MarcBrueck @Fratorhe.

[2021-11-25 00:52] SamTov commented on #374
I am not sure if Bokeh 2.4.2 fixes this, could you check?

[2021-11-25 08:37] PythonFZ commented on #374
I checked with GK diffusion and it still does not render properly.

[2021-11-25 08:40] PythonFZ opened #381 "Fix gk self diffusion test"
After #380 the GK self diffusion test was disabled. The test has to be fixed asap.

[2021-11-25 09:30] SamTov commented on #374
So it's really something going on with the Jupyter interface then. I am not sure if the syntax should be different for Jupyter. I will set up tests locally and try to work it out.

[2021-11-25 09:53] PythonFZ commented on #374
It could be possible that jupyter lab has some restrictions in JS being executed. And bokeh does not render the formulas but passes them to I think MathJax.

[2021-11-25 11:50] MarcBrueck commented on #378
I also vote for SI, because then the data you get is the same as the data you see, which is convenient

[2021-11-25 12:33] Fratorhe commented on #378
For sure, we should be consistent for plotting and storing in the same units.
However, I do not have a preference for the units.
Would it possible to have problems with accuracy with SI units? ie. numbers that are extremely small or large which could cause a loss in precision?
If so, I would vote to keep the units provided for the system (eg. metal, real, etc), this would also add consistency wrt

[2021-11-25 12:40] Fratorhe commented on #379
Yes, indeed.
What I meant is that I do not know if it is necessary to create the distinction, or if the code should be "smart" enough to understand that there is only one snapshot. Maybe for the other applications you mention it is necessary.

In that case, calculators that require time evolution should give an error if used in snapshots, while calculators for snapshots should perform the calculat

[2021-11-25 12:43] christophlohrmann opened #383 "Batching untested"
I am pretty sure batching is broken somewhere, because I get random test failures depending on hardware and hardware usage.
We need either
- to make sure that CI runs on data that forces batching
- a way to manually make sure that the data is batched for testing even if there is more space available

[2021-11-25 12:43] SamTov commented on #381
I think the issue is more getting correct data in the tests. So in that case, fixing all tests is the issue with better data.

In doing so we should also consider how we can best restructure the ZnHub project so that it can be easily replaced

[2021-11-25 12:44] SamTov commented on #383
In what way does it depend on hardware and what are the errors?

[2021-11-25 12:46] SamTov commented on #378
Okay so I think we can say SI is the way to go. My thought here is that, taking Einstein for an example, if you load the data and plot it, then take the fit of the line, you get your diffusion with NO additional pre-factor. Same for acfs. That removes all confusion.

This means though that we have to be careful with the data that is saved as usually it is multiplied by a pre-factor which includes

[2021-11-25 12:54] SamTov commented on #379
I think formulating a single snapshot as a minimal working example of un-ordered data makes sense to me. So have a keyword and for a single snapshot that is just automatically implied.

[2021-11-25 12:55] christophlohrmann commented on #379
The whole metadata (timestep, sample step. temperature, pressure, box_size, ...) needs a thorough look at.
Some file formats provide the metadata, some don't. Some calculators need certain data, but for some input data values like time step do not even exist.
We need general methods to provide the metadata that is not in the file as well as a check for each calculator, which metadata it needs to p

[2021-11-25 12:58] christophlohrmann commented on #379
as for the lammps one-snapshot example at hand, I would say if the user provides the timestep, we do not need to look for it.
e.g. rather than a ``trajectory=True`` kwarg I would more like a ``time_step=None`` keyword such that only if it is not None, we look for the time step in the file

[2021-11-25 13:29] christophlohrmann commented on #383
In github CI everything passes.

On my laptop, one of the calculator tests fails reproducibly (I do not remember which one, but I can find out this evening)
It is a value-failure, so the calculation runs but produces wrong numerical values.

On my ICP machine, I can sometimes produce errors by using pytest -n 20 [pytest-xdist running tests in parallel with many runners]. Here I get an ``IndexError

[2021-11-25 14:35] SamTov commented on #379
Well one thing is that when we refer to time step we talk about a piece of meta-data. What you get from the trajectory isa sample rate which is why it read in two configurations.

We could start reading time stamps from the trajectory, I am in favour of this but it is a little bit specific to certain format. For binary files we will probably either need to read time steps or we will have to have t

[2021-11-25 14:40] SamTov commented on #383
In terms of the laptop fail please let me know tonight. There was a very recent change to a test that has now been removed and so if the repo was not updated this would fail but we can go through that.

As for the parallel nature of things #145 may the issue that we bring up here. I could imagine something funny happening if you had serious changes in memory availability but I don't have an exact

[2021-11-25 15:00] christophlohrmann commented on #379
I think sample_rate and time_step should be combined to sample_step. It should be an optional metadata value that some calculators can access if needed and raise an error if it is not there.
If the trajectory file gives the opportunity to infer the sample_step, it should be done. Otherwise the user has to provide the value somewhere else before calling time-dependent calculators

[2021-11-25 15:03] christophlohrmann commented on #383
This time I got lucky and had one value error and two index errors:
[code]

[2021-11-25 15:26] SamTov commented on #379
That works for me. The only extension of generality here is what if they have say 100 time steps, then they ran another 500 and forgot to save it, then started dumping them again. Can you still get dynamics from this? Technically an Einstein computation would be fine but maybe questionable. Or should you just get your MSD from after a certain time and so we just need this offset to be implemented.

[2021-11-25 15:28] SamTov commented on #383
Okay so rdf fails twice probably because it is the same call and then KB fails maybe because the RDF data does not exist

[2021-11-25 15:41] christophlohrmann commented on #379
I do not think we should support data gaps in time-dependent calculators.

[2021-11-25 15:43] SamTov commented on #379
If we have the time-step it is relatively trivial to do so. But for now we can ignore it.

[2021-11-25 15:44] christophlohrmann commented on #379
I agree it can be done. I do not agree on the trivial part :)

[2021-12-01 08:18] PythonFZ opened #386 "Optimize TQDM for adding files"
When adding Files on machines with a lot of memory the tqdm bar is not very helpful.

Showing this for many minutes or even longer gives no good indication. We should try to make it more meaningful.
[code]

Furthermore, after the TQDM bar finishes the adding data does not finish.

[2021-12-01 08:20] PythonFZ commented on #332
Is this resolved? We could also update the docs and give a small example for using DataHub / ZincHub.

We should sort out https://github.com/zincware/ZincHub/issues/1 first.

[2021-12-01 08:21] #367 closed, assigned to PythonFZ

[2021-12-01 09:29] SamTov commented on #386
So this is tough. It is partially related to #145 as perhaps a full loading of memory for large systems is not the optimal case and therefore the loading bar would be more meaningful. Otherwise we need a better trigger for the tqdm bar, as you are familiar with how tqdm works your ideas would be a good accompaniment to the issue.

As for the second comment, this is a little harder. We use tqdm ove

[2021-12-01 09:31] SamTov commented on #332
I would not add any docs for using DataHub an Zinchub necessarily and would just write the examples using it. But yes this can be closed.

[2021-12-01 09:31] #332 closed, assigned to PythonFZ

[2021-12-01 09:33] SamTov commented on #375
We can look at using the global Jupyter option to set the scale for these notebooks.

[2021-12-01 10:54] SamTov commented on #374
<img width="1789" alt="image" src="https://user-images.githubusercontent.com/47057691/144221813-f6d89a59-a6f6-4464-8647-157da9b1f71f.png">

With the updated Jupyter it is fine.

[2021-12-01 10:58] SamTov commented on #374
<img width="1789" alt="image" src="https://user-images.githubusercontent.com/47057691/144222372-f21a0d0a-8fd2-42be-84c2-1178130660c5.png">

Also fine in Jupyter-lab

[2021-12-01 10:58] #374 closed, assigned to nobody

[2021-12-01 11:05] SamTov commented on #375
So in the case of my Jupyter lab and notebooks the figures are fine for more than on plot.

<img width="1789" alt="image" src="https://user-images.githubusercontent.com/47057691/144223541-68899808-9407-4c4b-bace-7e5cd676c69e.png">

For a single plot they are much too large.

<img width="1789" alt="image" src="https://user-images.githubusercontent.com/47057691/144223662-ccf18d3b-8bcd-483f-8719-a149

[2021-12-01 16:02] PythonFZ opened #389 "CI data sources are wrong"
Not a bug yet but soon to be one.
Some tests don't use DataHub yet and clone data from the renamed ExampleData repository.
Locally this already starts failing and I don't know why CI does still work. But this should be changed asap.

I haven't looked up all parts of the code but one is
https://github.com/zincware/MDSuite/blob/b1403c2683a2def89f15f0ad2bf738dbdd06db7e/CI/unit_tests/project/test_proj

[2021-12-01 17:44] #375 closed, assigned to nobody

[2021-12-02 11:18] SamTov opened #390 "Atom-wise batching for dynamics is broken."
**Describe the bug**
The atom-wise batching for dynamic calculations is broken.

**To Reproduce**
Run a large analysis on limited memory and it will fail.

Related to #383

[2021-12-02 11:32] SamTov opened #391 "RDF is slower"
**Describe the bug**
The RDF is now running slower on the GPU. It is also using much less of the resources, possibly due to the restriction imposed by the memory management. This should be looked at and optimized.

[2021-12-02 16:23] PythonFZ opened #392 "experiment.species should be a dataclass"
Currently `experiment.species` is a dictionary but it would be benefitial to make it a dataclass, so instead of `species['Na']['charge']` one can do `species['Na'].charge`. This would also set the available keys and make things easier for implementing.

[2021-12-03 07:18] PythonFZ opened #393 "remove the `project/<project>/databases` directory"
The HDF5 database can in principle be dumped directly into `Project/<project>/<experiment_name>.hdf5` or the directory should be renamed to `database` because it won't contain more than one.

[2021-12-03 07:41] SamTov commented on #393
I didn't realise there was a project/databases directory?

Under the Project class there should be a directory for each experiment is there not? Within which there is a database/database.hdf5 file which I agree could be put into the main directory of the experiment. Or is there no longer a subdirectory for experiments?

[2021-12-03 07:45] SamTov opened #394 "Overwrite functionality on transformations"
**What feature would you like to see added?**
Sometimes when running transformation things can go wrong with properties such as charge but once a hdf5 group is created it cannot be deleted. We could however load the existing data and over-write it with new values.

**Describe how this feature would improve the code**
In principle, whilst it does not happen often when a bad group is created the onl

[2021-12-03 07:49] PythonFZ commented on #393
I fixed that in the description. I forgot to put in the experiment directory

[2021-12-03 07:57] PythonFZ opened #395 "`perform_transformation` should work similar to `run`"
We have `project.experiments.experiment.perform_transformation("TranslationalDipoleMoment")` but it would be nicer to have `project.experiments.experiment.perform_transformation.TranslationalDipoleMoment()`

[2021-12-03 07:58] SamTov commented on #395
I'd actually prefer to put it under run if it is possible.

[2021-12-03 08:03] SamTov opened #396 "Add electrophoretic mobility calculator"
**What feature would you like to see added?**
We should add an electrophoretic mobility calculator.

[2021-12-03 08:06] PythonFZ commented on #356
Performance Comparison between the (n_confs, n_atoms, 3) and (n_atoms, n_confs, 3)
![image](https://user-images.githubusercontent.com/46721498/144567314-f69fd94b-1348-4428-98db-d7d0e9357c35.png)

resource to H5MD https://www.nongnu.org/h5md/h5md.html#particles-group

[2021-12-03 08:30] PythonFZ commented on #395
So have `exp.run.TanslationalDipoleMoment` - this would make it harder to distinguish between transformations and calculators though, but it shouldn't be an issue I guess.

[2021-12-03 08:31] SamTov commented on #395
I would have `project.run.TransformationName()`

They are indistinguishable from the calculators if you really want to call them. It is unlikely that people will call them often and it is as likely that someone randomly types in the wrong calculator as it is that they accidentally call a transformation instead.

[2021-12-03 08:33] PythonFZ commented on #395
How would you define which transformation to run?

`project.run.Transformation("TranslationalDipoleMoment")` without autocompletion or `exp.run.<transformation>()`?

[2021-12-03 08:37] SamTov commented on #395
I would have it as autocompletion. Just used Transformation as  dummy, **updated it**

[2021-12-03 10:20] PythonFZ opened #397 "Use `tf.data.Dataset` and prefetching in the file readers"
We can make the most out of reading and writing in parallel when we prefetch the data and simultaneously write it to the HDF5 Database.
One approach that we already use a lot in MDSuite would be tf.data.Datasets with generators and prefetching.

[2021-12-03 10:34] SamTov commented on #397
Parallel writing to HDF5 is not so trivial from memory but we can read, process, and stage in parallel

[2021-12-03 10:36] PythonFZ commented on #397
This is what I meant. You can read the next batch in from the trajectory file while writing to the database.
Parallelize the read-write process not the write itself.

[2021-12-03 14:11] SamTov opened #398 "SVG export for Bokeh"
**What feature would you like to see added?**
We should look into svg export options for Bokeh plots:

https://docs.bokeh.org/en/latest/docs/user_guide/export.html

[2021-12-06 10:03] christophlohrmann commented on #394
what does it mean that things go wrong in the transformations?

[2021-12-06 10:04] christophlohrmann commented on #395
I like the common syntax. The user does not have to know that there is a difference between a transformation and a calculation

[2021-12-06 10:08] christophlohrmann commented on #392
the dataclass could be very similar (or actually be) mdsuite.database.simulation_database.SpeciesInfo (from PR #372).
I do not know how to store that in the SQL, though

[2021-12-06 10:11] PythonFZ commented on #392
It would not be to difficult. We can adapt
https://github.com/zincware/MDSuite/blob/bc41b70194a8dc4c8af288ca120363e15d0580b9/mdsuite/database/experiment_database.py#L196-L242
to work with the dataclass.
We would have to convert it to a JSON serializeable dict and then we can pass it through
https://github.com/zincware/MDSuite/blob/bc41b70194a8dc4c8af288ca120363e15d0580b9/mdsuite/database/scheme.py

[2021-12-06 10:45] SamTov commented on #394
In some case where a charge is set wrong for example, or I don't now something happens to interrupt a transformation, the group in HDF5 will have been created but will need to be re-written.

[2021-12-06 12:47] SamTov commented on #395
I 100% agree.

[2021-12-06 14:53] PythonFZ commented on #336
- auto detect GPU
- `gpu=True` as default, set to false will force `with tf.device`

[2021-12-06 15:16] christophlohrmann opened #399 "what was the resoning behind simulation_database.get_database_summary(self):"
This function should list the properties that are stored for each species by reading the keys of the database.
why does it need ``var_names`` to check against?

https://github.com/zincware/MDSuite/blob/bc41b70194a8dc4c8af288ca120363e15d0580b9/mdsuite/database/simulation_database.py#L670-L682

[2021-12-07 08:03] PythonFZ opened #400 "simulation_database should use a context manager"
The `simulation_database.py` often uses open and close statements.
We should try to avoid this because as far as I know HDF5 DBs are likely to corrupt when not closed properly.

We should replace every `hf.File()` with a context manager for safety.

[2021-12-07 08:06] PythonFZ opened #401 "Save bokeh html file"
**Describe the bug**
Currently a bokeh plot is saved as `<calculator>.html` in the root directory.
It might be benefitial to save the html files in `project/experiment/figures` because that directory is currently not used but created.
It would also avoid overwritting plots when using `project.run`

[2021-12-07 08:07] SamTov commented on #400
What files have you seen this in? It would be much more helpful to list at least the one that made you write the issue as we have been trying to weed this out for a while.

[2021-12-07 08:07] PythonFZ opened #402 "check logfiles"
The `project/exp/logfiles` directory seems to be created but is empty. We should either remove the directory or - which I would prefer - check that the logfiles are stored proberly.

[2021-12-07 08:11] PythonFZ commented on #400
I mentioned the file being `simulation_database.py`. You can go through the file and search for `hf.File` or `open`.
For an example see #399
but also
https://github.com/zincware/MDSuite/blob/bc41b70194a8dc4c8af288ca120363e15d0580b9/mdsuite/database/simulation_database.py#L109
https://github.com/zincware/MDSuite/blob/bc41b70194a8dc4c8af288ca120363e15d0580b9/mdsuite/database/simulation_database.py#L

[2021-12-07 08:16] SamTov commented on #400
Sorry I thought I read the simulation database and not the name of the file as I know that it is also possible that these still exist in other parts of the code. Thank you for the examples.

[2021-12-07 08:20] SamTov commented on #399
This was a summary method to show what is in the database. The idea behind it was that one may finish a project and leave it around for a long time. When they come back to it they want to know what is in it. I believe it had the var names there to check for system properties before looking into the atom-wise properties but it is quite old at this point so the structure of the database may render t

[2021-12-07 10:55] PythonFZ opened #403 "Clean up `calculator_database.py`"
The file `calculator_database.py`could use some clean up + tests

- Use abstract methods for mixins
- remove old  code
- check code usage
- add tests

[2021-12-07 11:35] PythonFZ opened #404 "seperation of concerns for calculators"
# calculator should only calculate / no write access to experiment

- experiment should look if calculator already ran (`@call`)
- experiment should save calc result

- calculators should work with some input data, usually from experiment but could be anything
calculator should have an attribute on what it requires (dataclass, e.g. axis, species, batch, ... for the exp to provide the generators)
-

[2021-12-07 12:47] SamTov commented on #404
You can certainly do this. In the initial generator set up it was written such that most of it was black-boxed and the user basically had to only write a calculation operation. It was still under the calculator parent class but that would have been easy to move.

It was separated and put more into calculators as it is much more customisable to allow people inside of a calculator to have a batch ge

[2021-12-07 16:35] PythonFZ opened #406 "fix isort ciruclar import hotfix[calculators]"
Currently we have to manually set isort
https://github.com/zincware/MDSuite/blob/b4abcdd82ce1ab5ba819a9c792087c090e7c2368/mdsuite/calculators/__init__.py#L31-L35

and this should not be the case!

[2021-12-07 18:53] PythonFZ opened #407 "Fix kirkwood_buff_integrals"
https://github.com/zincware/MDSuite/runs/4446800766?check_suite_focus=true

it seems like kirkwood_buff_integrals can fail occasionally and this  should not be possible.

might be related to #383

[2021-12-08 07:32] PythonFZ opened #408 "fix isort ciruclar import[database]"
https://github.com/zincware/MDSuite/blob/17847d458e45ef84db37a509c018af1dd611ff45/mdsuite/database/__init__.py#L27-L31

[2021-12-08 08:46] SamTov opened #409 "We could implement TensorFlow in the distinct diffusion coefficients calculation."
**What feature would you like to see added?**
In the Green-Kubo self diffusion coefficients we use TensorFlow-probability (tfp) to perform autocorrelation:

[code]

In the case of distinct diffusion we need a cross-correlation function, not an auto-correlation which tfp does not have. Instead we use the standard scripy approach with a lot of loops:

[code]

The `tf.nn.convolution` operation comput

[2021-12-08 09:46] PythonFZ opened #411 "remove RDF state"
remove RDF state from MDSuite

[2021-12-08 09:51] PythonFZ opened #412 "Add tests for transformations"
Thanks to @christophlohrmann most of the Transformations are now tested.

# Still Missing tests / bad coverage
- [ ] integrated_heat_current
- [ ] kinaci_interaged_heat_current
- [ ] map_molecules
- [ ] momentum_flux
- [ ] thermal_flux

[2021-12-08 10:00] #411 closed, assigned to nobody

[2021-12-08 11:10] MarcBrueck commented on #401
Done, gonna do a PR on main later

[2021-12-08 12:52] PythonFZ commented on #401
No - it is not resolved, because the PR isn't merged yet!

[2021-12-08 13:39] PythonFZ opened #422 "Transformation should not change the database but the experiment should"
The Transformations have their own database handler

https://github.com/zincware/MDSuite/blob/293a96e549dbd142c879c18034b1db40b8932171/mdsuite/transformations/transformations.py#L89-L92

but it might be better to let the experiment handle the database - similiar to #404

[2021-12-08 13:44] PythonFZ commented on #409
We should probably test the performance increase before we implement this.
I can try to write a simple notebook to check that.

[2021-12-08 14:00] tobiasmerkt opened #424 "Documentation: Coordinate Unwrapper code does not work"
**Describe the bug**
Link: https://github.com/zincware/MDSuite/blob/293a96e549dbd142c879c18034b1db40b8932171/docs/source/tools.rst
The code in the documentation produces an error.

[code]
 **Error Message**
   line 2, in <module>
    NaCl = mds.Experiment(...)
TypeError: __init__() missing 1 required positional argument: 'experiment_name'

[2021-12-08 15:05] tobiasmerkt opened #427 "Documentation issues"
- [ ] **1. Pages empty**
Even though the following pages exist, they do not include any text.

- [ ] [Phonon spectrum](https://github.com/zincware/MDSuite/blob/293a96e549dbd142c879c18034b1db40b8932171/docs/source/_theory/phonon_spectrum.rst)
- [ ] [Isothermal compressibility](https://github.com/zincware/MDSuite/blob/main/docs/source/_theory/isothermal_compressibility.rst)
- [ ] [Tensor Operations

[2021-12-08 15:11] tobiasmerkt opened #428 "Documentation: Isothermal compressibility empty"
**Description**
Link: https://github.com/zincware/MDSuite/blob/main/docs/source/_theory/isothermal_compressibility.rst
Issue: Even though the Isothermal compressibility documentary page exists, it does not include any text.

[2021-12-08 15:13] #428 closed, assigned to nobody

[2021-12-08 15:14] SamTov commented on #424
Please remove the section on unwrapping coordinates and writing xyz files from this section. Neither are supported like this anymore.

[2021-12-08 15:15] SamTov commented on #427
Is it present in the visual documentation? If so, please make sure it does not show up in any table of contents as it is not implemented.

[2021-12-08 15:54] #406 closed, assigned to nobody

[2021-12-08 15:55] #389 closed, assigned to nobody

[2021-12-08 16:05] #393 closed, assigned to PythonFZ

[2021-12-08 16:47] SamTov opened #430 "Make scaling functions data classes"
**What feature would you like to see added?**
We should make the scaling functions in the memory manager data classes.

[2021-12-08 16:48] #390 closed, assigned to SamTov

[2021-12-08 16:48] #407 closed, assigned to nobody

[2021-12-08 17:09] PythonFZ opened #432 "Check missing indicies"
We introduced
https://github.com/zincware/MDSuite/blob/1ca1f88e83c2c007706aba20c12f1be1221f2442/mdsuite/database/experiment_database.py#L237-L239
to remove the indices and only use the length.

There might be some parts of the code, e.g. sorting or map_molecules that still remain on it.

These functions need tests and should be checked before continuing with #392

[2021-12-08 17:12] PythonFZ opened #433 "fix StructureFactor calculator"
just fix StructureFactor calculator

[2021-12-08 17:18] PythonFZ opened #434 "Molecules should be attached to the atoms"
We need to update the molecular mapping in MDSuite.

* Add groups as it was previously
* Add a species dataset to the constituent species with the molecule information.

[2021-12-08 17:34] #401 closed, assigned to MarcBrueck

[2021-12-15 10:49] christophlohrmann opened #444 "add_experiment() should return the experiment"
so I can write ``exp = project.add_experiment(...)`` and get the experiment handle in the same line as creating it

[2021-12-15 11:56] christophlohrmann commented on #371
@Fratorhe is the problem still there?

[2021-12-15 11:59] christophlohrmann opened #445 "load_matrix() should return a matrix"
eperiment.load_matrix() has intricate logic to handle different arguments, but is only ever used to return a matrix of values for a single property of a single species. This could be simplified

[2021-12-15 12:17] Fratorhe commented on #371
I need to check it still...
I hope I can do it tomorrow or friday.

[2021-12-15 13:24] SamTov commented on #445
It actually shouldn't exists... The only data loading should be from the database and is `database.load_data()`

We did want to look into adding support for users to load data from experiments but we considered making that a class. This was a legacy method left in for very specific circumstances and is now redundant unless you want it for custom data loading. I think it would be better for us to w

[2021-12-15 13:32] christophlohrmann commented on #445
the function definitely needs to exist until the other method is implemented, otherwise testing is not possible and the user cannot access their own data.

[2021-12-16 08:56] SamTov commented on #432
I think this is now resolved? @PythonFZ

[2021-12-16 09:25] PythonFZ commented on #432
I'm not sure - I think the `indices` key is still passed through when setting the species dict. But we can certainly consider it mostly fixed. What about #433 ?

[2021-12-17 17:19] #395 closed, assigned to nobody

[2021-12-17 17:22] PythonFZ opened #449 "pathlib support in simulation_database"
I think that `name` is a misleading argument, because as far as I understand it is the path to the database file.
I would also like to make it pathlib compatible, so we don't have to use `path.as_posix()`, which I assume hf.File unfortunately does not support natively, but we should check that.

https://github.com/zincware/MDSuite/blob/c7bb82667012ed9d274551314f659596e7f730e5/mdsuite/database/simu

[2021-12-21 14:19] PythonFZ commented on #402
Fixed in #438

[2021-12-21 14:19] #402 closed, assigned to nobody

[2021-12-21 15:17] PythonFZ opened #453 "Fix `str.encode` in TensorFlow Datasets"
Currently TensorFlow Datasets use `str.encode`.

As it seems TensorFlow does support normal strings:
[code]

so we should try to remove the `str.encode` to make the code more clean and avoid encoding issues (e.g. see a4920cc)

[2021-12-21 17:20] #444 closed, assigned to nobody

[2021-12-22 09:42] MarcBrueck commented on #433
The StructureFactor class need an rdf, and it looks like the rdf code has changed, therefore impacting the structurfactor

[2021-12-22 10:10] MarcBrueck commented on #433
this is the calculator database file:

   # REMOVE
    # TODO rename and potentially move to a RDF based parent class
    def _get_rdf_data(self) -> List[db.Computation]:
        """Fill the data_files list with filenames of the rdf tensor_values"""
        # TODO replace with exp.load.RDF()
        raise DeprecationWarning(
            "Replaced by experiment.run.RadialDistributionFunction(**kwar

[2021-12-22 10:13] PythonFZ opened #455 "Time Series Calculators"
Adding calculators for showing some time dependent properties such as energies or pressure, ...

This would also benefit from some moving average options.

They are nice to have as we can compute a moving average on properties which is very useful for pressure, energy, temperature, and so on. I think we should consider how to move them into the code under run with something like a `MovingAverage`

[2021-12-22 10:13] #400 closed, assigned to nobody

[2021-12-22 10:13] #449 closed, assigned to PythonFZ

[2021-12-22 10:23] SamTov opened #456 "SDF visualization"
**What feature would you like to see added?**
Implement a surface-based SDF calculator to function like those in literature

[2021-12-22 10:38] SamTov commented on #433
you should be able to run that command

[code]

In this case, the structure factor should take the same arguments that the RDF can take.

[2021-12-22 12:56] MarcBrueck commented on #433
One problem that I had is that the attribute experiment.number_of_particles is not automatically asssigned any more. I had to get it via adding the number_of_particles of each species. I think we should assign it though since its a useful property

[2022-01-12 16:59] christophlohrmann commented on #455
adding calculators just for plotting feels like the wrong place. More options for general data/calculation retrieval and plotting would be appreciated, though.
Moving Averages, Averages over particles (e.g. center of mass calculation for each time step, kinetic energy calculations, ...) should fit nicely in the transformation framework

[2022-01-13 08:49] PythonFZ opened #458 "`ase.Atoms`-like object for HDF5"
This is just an idea I had without considering all the strings attached to it and how complicated it could be to implement or how much it would differ from the current implementation.

For the calculators we e.g. currently have:

[code]
with
https://github.com/zincware/MDSuite/blob/f1c4475c3cd3e3a6758b3c252d3138d9bad6a25e/mdsuite/calculators/trajectory_calculator.py#L325-L345
https://github.com/zi

[2022-01-13 12:12] christophlohrmann commented on #458
not sure I understand the point. which part of the code (which modules' responsibility) are we talking about?

[2022-01-13 12:43] christophlohrmann opened #459 "position property naming"
currenty we have
[code]

I think there is quite the potential for confusion when calculators and transformations work with positions, thinking they are already scaled (I am pretty sure all occurences of Unwrapped_Positions actually would like the Scaled_Unwrapped_Positions). I would therefore propose a renaming to:

[code]

We could even go as far as making Unwrapped the standard and write Wrapped

[2022-01-13 13:09] PythonFZ commented on #458
I think this would affect everything that loads data from the HDF5 database, transformations and calculators.
For example

https://github.com/zincware/MDSuite/blob/44f298f65ce2c894752eec27f0d055883d133b0c/mdsuite/transformations/unwrap_coordinates.py#L203-L228

could be reduced to something like this (there might be some challanges here though)

[code]

[2022-01-14 10:40] SamTov opened #460 "Introduce distributed computations."
**What feature would you like to see added?**
We have great single-node parallelization for our computations, the next logical step is then to have great multi-node computations so that we can really make the most out of computing clusters.

We have to distinguish at this stage between on node parallelism and mutli-node. My suggestion would be to use a framework such as
[Dask](https://docs.dask.or

[2022-01-14 11:02] SamTov opened #461 "Automatic optimization cycles"
**What feature would you like to see added?**
It could be nice to have automated optimization cycles for certain calculators. Something like what used to exist for the Einstein calculator it adjusts the data range until a suitable range is found. In the case of Einstein it was removed due to the restructures and has not been looked at since. It could also do with a better optimization scheme than

[2022-01-14 12:06] PythonFZ commented on #460
I also think dask might be a good way to go - I'm just leaving https://www.tensorflow.org/guide/distributed_training here because in theory that would also be an option. I think we should try different strategies and benchmark them outside of MDSuite and then make an educated choice on what works best. Might also be slightly related to #458 if the batching is modified.

[2022-01-14 12:07] PythonFZ commented on #461
We could add some function to each calculator that has to be optimized and then investigate if this can be generalized. It might require some function to read all tested parameters from the SQL DB but that can be easily done.

[2022-01-14 12:50] SamTov commented on #461
I was thinking for starters using just data range as it can is quite easy to look for convergence in a measure parameter. Things like correlation time we should implement a calculator to measure so it can be set correctly. But for other parameters, for example getting good enough RDF resolution, this is a larger, mulit-dimensional optimization problem. We could maybe take some ideas from linear pr

[2022-01-14 12:51] SamTov commented on #460
Yes I think that when we look at #458 we should do this at the same time. I didn't think that of course the distribution methods can also be used  to split over nodes... in that case I would ideally like to work with TF if possible but we would need a benchmark.

[2022-01-14 13:12] christophlohrmann opened #462 "``test_green_kubo_distinct_diffusion_coefficients.py`` is slow"
... at least on my machine
when I run the testsuite with ``pytest -n8``, the testsuite is done in 2 mins and then waits another 20min for the one slow test to finally finish

[2022-01-14 13:14] christophlohrmann commented on #459
note: with #447 this can be done in 10mins

[2022-01-14 13:21] PythonFZ commented on #460
One issue with the tf distribution is, that it is aimed at ML training based on keras. I don't know how flexible it is for our code.

[2022-01-14 13:46] SamTov commented on #462
It isn't the test as much as the calculator itself. It needs to be optimized, this is an issue I have not put up yet but will do now.

[2022-01-14 13:47] SamTov opened #463 "Improve distinct coefficient speed"
**What feature would you like to see added?**
Both Einstein and GK distinct diffusion coefficient calculators need to be improved for performance.

#### Einstein

* Move to einsum
* Look for other optimization i,e, symmetry arguments and reducing summations

#### GK

* As above for Einstein
* Move to tensorflow implementation of cross-correlation

[2022-01-14 15:16] SamTov opened #464 "Automatic/standardized scale function computation"
**What feature would you like to see added?**
Partially in conjunction with #383 but a different consequence, we need a standardized method of assessing the accuracy of the scaling functions.

My suggestion would be to set up a remote worker with ~4GB of memory, i.e. memory of a standard GPU, and check the scaling functions allow for correct operations on data that is both configuration-wise and a

[2022-01-14 15:17] SamTov commented on #460
Reading through their blogs and docs on it it seems you can call a distributed strategy over a function. They have a section in the docs about a custom training loop with a distributed strategy which looks like it could align well.

[2022-01-14 15:18] SamTov commented on #459
It would also fall in line with Chemfiles to by default unwrap positions where possible upon reading.

[2022-01-14 15:19] SamTov opened #465 "Box vector not read in by Chemfiles reader for xtc+gro file combination"
When using the Chemfiles reader to read a gromacs trajectory where the data is stored as an .xtc and the topology as .gro, the box vector is not read in, or at least not stored by MDSuite.

This arises when trying to do something like wrap coordinates or compute and RDF where this vector is called and returns a None.

[2022-01-14 16:52] PythonFZ commented on #464
I think in this context we should add some manual overwritting for the batching as well.
For Example we have one person that wants to run the some MDSuite Job in the background, does not care about the speed and wants to do something else in the meantime.
On the other side there is someone who wants the results asap and MDSuites batching is to agressiv and forcefully slows down the computation.

I

[2022-01-14 18:53] SamTov commented on #464
The initial idea was that you set the memory consumption which is hardcoded to be super conservative rn because the scale functions are not accurate enough. I think having a dev option for manual batching is a good idea but I would leave it to setting memory consumption for users e.g., use 50% of memory vs 98% if you want that super performance.

The reason I think 4GB is because it makes the scal

[2022-01-18 11:09] christophlohrmann commented on #459
I do not think that instant unwrapping is needed.
Any transformation that requires unwrapped coordinates will trigger the unwrapping automatically.
If calculators do the same, then unwrapping falls in line with all the other 'just in time' transformations

[2022-01-18 11:29] christophlohrmann commented on #459
turns out I am stupid. I got the scaled-unscaled wrong. ``pos`` is in [0, box_l] and ``pos_scaled`` is in [0,1]. My confusion then only came from the ``scale_coordinates`` transformation that actually "unscales" the coordinates.

[2022-01-18 12:13] christophlohrmann commented on #412
update: some of them/ the most common have one. The rest can be added at ``CI/unit_tests/transformations/test_transformations.py``

[2022-01-18 12:15] christophlohrmann commented on #399
since #447 , this method returns the full summary of all keys in the database

[2022-01-18 12:15] #399 closed, assigned to nobody

[2022-01-18 12:49] christophlohrmann commented on #408
fixed in #447

[2022-01-18 12:49] #408 closed, assigned to christophlohrmann

[2022-01-19 09:40] #465 closed, assigned to nobody

[2022-01-24 09:28] #459 closed, assigned to SamTov

[2022-01-25 09:19] #336 closed, assigned to nobody

[2022-01-26 13:01] MarcBrueck commented on #433
I fixed the structure factor code.

But I have another problem. It seems there is an error in the rdf data, that is saved. The radii should be saved in nm since Im using the units metal, but they are saved in units 10^(-11)m. The structure factor code relies that you hand the radii over in nm and so it will be wrong.

I get the rdf information using:

data = self.experiment.run.RadialDistributionF

[2022-01-26 13:03] MarcBrueck commented on #433
Also if you change how and where the rdf is stored and other data about the elements then the structure factor code will break again. So please dont do it if its not really necessary

[2022-01-26 13:15] PythonFZ commented on #433
I thought the units would be fixed by #334 @SamTov

[2022-01-26 13:53] SamTov opened #477 "Decide how to manager particle groups such as molecules"
**What feature would you like to see added?**
Currently molecules are their own seperate dict. We could subclass them from the species data class and make a new data class or consider another option. The only constraint is that molecules and species must remain identifiably separated. This is essential to function of MDSuite. If one cannot differentiate between a species and a molecular species, i

[2022-01-26 14:37] PythonFZ commented on #477
I will add the already made points by @christophlohrmann

[2022-01-27 09:27] SamTov commented on #433
At this stage all data from the RDF is saved in nm:

[code]
Which ends up on the sql database as seen here.  I should note here that the name of the method is very misleading, it does not convert angstroms to nm it converts the simulation unit 'length' to nm. I will update this.

Method is shown below for clarity:

[code]

Metal units are Angstroms not in nm so in this case, when the radial values

[2022-01-27 09:42] MarcBrueck commented on #433
![bokeh_plot(2)](https://user-images.githubusercontent.com/52284246/151333161-8cf17cef-5006-41e4-b43a-6dcb093891f0.png)
![bokeh_plot(1)](https://user-images.githubusercontent.com/52284246/151333173-543804c1-b4ee-4dde-b703-3af3707f9ea4.png)
![bokeh_plot](https://user-images.githubusercontent.com/52284246/151333184-4b953207-cd4e-4273-bd74-330b700b1855.png)

These are the rdfs I get from an nacl simu

[2022-01-27 09:52] SamTov commented on #433
Why? The simulation is in Angstroms, one angstrom is 0.1 nm

[code]

[2022-01-27 09:58] PythonFZ opened #479 "fix `_ang_to_nm` in RDF calculator"
I should note here that the name of the method is very misleading, it does not convert angstroms to nm it converts the simulation unit 'length' to nm. I will update this.

Method is shown below for clarity:

[code]

Metal units are Angstroms not in nm so in this case, when the radial values come back as 1xe-11 it makes sense to me. It does not matter what units you run your simulation in, the RDF

[2022-01-27 10:03] MarcBrueck commented on #433
aeehm I got it the wrong way round. For the structure factor the units need to be in Angstrom but they are in nm

[2022-01-27 10:06] MarcBrueck commented on #433
So I need to convert the units. Does a funtion which converts to Angstrom already exist?

[2022-01-27 10:11] SamTov commented on #433
I think we should leave all structure related units in nm for uniformity if it is possible. What requires Angstroms in the SF code? Is it something from a library?

[2022-01-27 10:32] MarcBrueck commented on #433
I dont want to change the units in the database just for my code. I mean if the rdf units are always in nm then it is easy and no problem. but just in case that would change. The calculation for the structure factor is only valid for a scattering scalar between 0 and 25 1/Angstrom. The code assumes that the units of the scattering scalar and the radii cancel out. So if you give the units in [units

[2022-01-27 11:03] SamTov commented on #433
So now in the SQL database from which you load the RDF no matter what units your simulation are in, the RDF radii values will always be in nm. So you can be sure that any time you load an RDF it will be in nm. For that reason, I would suggest changing the scattering scalars to nm.

[2022-01-27 13:12] SamTov opened #480 "Move RDF/ADF mini-batching under the built-in memory management"
**What feature would you like to see added?**

Rather than computing mini-batch amounts within the RDF and ADF calculators, it should be possible to use the mini batch computation of the memory manager and parse this to the calculator.

[2022-01-27 13:22] PythonFZ commented on #480
Maybe also related to #458

[2022-01-27 16:09] SamTov opened #481 "Passing arguments post-operation calculators"
We should decide on how to pass arguments to calculators which rely on the computation of another calculator. At the moment this is typically only RDFs but we also have Nernst-Einstein computations which could use such a feature.

Currently, there is no parameter information passed, the calculator just tries to load an arbitrary RDF from the SQL database and runs one if none exists. This means tha

[2022-01-27 16:39] PythonFZ commented on #481
I like it!

[2022-01-27 17:28] Fratorhe commented on #481
I think that's what makes the most sense to do.
Like this you can also retrieve the appropriate one from the SQL database and pass it.
Very clean.

[2022-01-28 08:15] MarcBrueck commented on #481
Sure, it should just be clear how the rdfs are named and how to access them,  because that was not clear to me.

[2022-01-28 08:29] PythonFZ opened #482 "Check log Level for log file"
I just realized that the logger does neither print log.debug() lines nor store them in the mdsuite.log file.
where can you even see log.debug() lines then?

_Originally posted by @MarcBrueck in https://github.com/zincware/MDSuite/pull/478#discussion_r794290759_

[2022-01-28 08:43] SamTov commented on #482
Does it depend if the logger is set to DEBUG?

[2022-01-28 08:45] PythonFZ commented on #482
There should be two loggers, one for the file which should log everything (DEBUG) and one standard out logger which should be INFO.

[2022-01-28 08:45] SamTov opened #483 "Not all calculators have auto doc strings in Jupyter"
I have noticed that while pushing shift tab in Jupyter that some of the calculators such as coordination numbers, Einstein diffusion and very likely more do not have the doc stings shown and rather are just a property. This is not the case for calculators such as RDFs but it should be uniform across the board.

[2022-01-28 09:37] PythonFZ commented on #483
They should all behave the same

https://github.com/zincware/MDSuite/blob/8f55d267b514e89c6392388b6ae5335670a34459/mdsuite/experiment/run.py#L162-L237

but I do think that they should be changed to e.g.  `-> Type[CoordinationNumbers]` actually.

[2022-01-28 13:14] #482 closed, assigned to nobody

[2022-01-31 09:43] PythonFZ opened #486 "Database keys for multi-species calculators"
**Describe the bug**
Currently there is `adf_data["O_H_H"]` to give access to an ADF with the central atom being `O` and two neighbouring `H`.
Maybe rename it `"O_(H_H)"` to highlight the central atom.
For a System of three species we should ensure that there is some given order e.g. for `["N-O-H"]` vs `['N-H-O']`.

For RDF there is no dependency on the order so `"O-H"` is identical to `"H-O"`

[2022-01-31 10:01] christophlohrmann commented on #481
I like this idea of stringing calculators together. It also makes it nice and explicit for the user which calculations are performed.
In the documentation we just need to state which calculator to call for obtaining the data that is needed.

Side note:
The fact that ``EinsteinDiffusion`` returns ``self_diffusion_data`` and ``GreenKuboDistinctDiffusion`` returns ``correlated_diffusion_data`` gives

[2022-01-31 10:29] SamTov commented on #481
@christophlohrmann  It certainly could be. I have some further ideas for the future API of MDSuite regarding how calculations are called as the project starts to grow. In the coming months/year we may see a lot of additions from varying fields and so we may need a better approach for narrowing down which functions come from where. I suggest we have some sort of general assembly and form a type of

[2022-01-31 12:31] PythonFZ opened #487 "Remove legacy code"
I actually think several meta functions are now legacy and can be removed. I will leave this for a future PR.

_Originally posted by @SamTov in https://github.com/zincware/MDSuite/pull/475#discussion_r795618398_

[2022-01-31 12:40] PythonFZ commented on #487
Using https://github.com/jendrikseipp/vulture I found (sorry for the long path):
[code]

[2022-01-31 13:45] PythonFZ opened #488 "MDSuite could use ZnJSON"
https://github.com/zincware/MDSuite/blob/33c11b30f512ed652fb869282cc61a890c9c084b/mdsuite/database/calculator_database.py#L58-L65

[2022-01-31 14:45] #432 closed, assigned to nobody

[2022-01-31 15:22] PythonFZ opened #490 "Species handling struggles with `_`"
**Describe the bug**
This is just one example
https://github.com/zincware/MDSuite/blob/6ed32d47a62b3719c96f0dc6cbc7fb61d21f9099/mdsuite/calculators/radial_distribution_function.py#L313
that failes if the species contain `_` e.g. `Na_1`

also a bit related to #486

[2022-01-31 16:36] SamTov commented on #490
That can certainly happen in some simulations. There is a possible approach to this I would like to discuss at the general meeting.

[2022-01-31 16:44] PythonFZ commented on #490
If you have a good idea can you briefly describe it here?

[2022-01-31 16:54] PythonFZ commented on #458
Further comments on the API can be posted over here https://github.com/zincware/ZnH5MD
For now I would close this issue and we can open a new one where we discuss implementation details on how to put ZnH5MD into MDSuite.

[2022-01-31 16:54] #458 closed, assigned to SamTov, christophlohrmann

[2022-02-02 13:39] christophlohrmann opened #491 "unit handling"
the current ``Unit`` class forces me to define time, energy, length and pressure.
Out of those only three are independent, the fourth one can be calculated from the other three.

Same problem for energy/boltzmann/temperature.

[2022-02-02 13:40] christophlohrmann opened #492 "MSD wrong"
The prefactor ``6`` is applied to the msd, not just to the diffusion coefficient, so all MSDs are off by a factor of 6

Note: PR is on the way

[2022-02-02 15:17] christophlohrmann opened #494 "how to adjust mdsuite logging?"
I knew we talked about this before, but what was the reason that I get swamped with debug messages in a lengthy format?
Is there a way to control mdsuite's loglevel?

[2022-02-02 15:50] PythonFZ commented on #491
Will potentially be fixed by implementing https://pint.readthedocs.io/en/stable/ but this has not been decided yet.

[2022-02-02 15:52] PythonFZ commented on #494
The MDSuite log level can be adjusted here
https://github.com/zincware/MDSuite/blob/6ed32d47a62b3719c96f0dc6cbc7fb61d21f9099/mdsuite/__init__.py#L52
for the `sys.stdout` logger and here
https://github.com/zincware/MDSuite/blob/6ed32d47a62b3719c96f0dc6cbc7fb61d21f9099/mdsuite/project/project.py#L139
for the file logger.

[2022-02-02 16:05] SamTov commented on #494
The default should always be INFO though right?

[2022-02-02 16:11] PythonFZ commented on #494
For `sys.stdout` it would be INFO but the file logger is `DEBUG` so you can check if something went wrong.

[2022-02-02 16:12] christophlohrmann commented on #494
I agree, as long as it really only writes to file

[2022-02-02 16:33] christophlohrmann commented on #490
is there a way to keep it internally as tuple(str) and just convert it to the underscore-string when returning it to the user?

tuple means it is fixed order and can be used as a dict key if needed

[2022-02-03 11:40] PythonFZ commented on #424
Is this resolved with #416 ?

[2022-02-03 11:40] PythonFZ commented on #412
@christophlohrmann is this resolved?

[2022-02-03 11:42] PythonFZ commented on #356
Will be changed with going to H5MD

[2022-02-03 11:42] #356 closed, assigned to nobody

[2022-02-03 11:42] christophlohrmann commented on #412
no

[2022-02-03 13:12] SamTov commented on #412
Waiting on some tests from @Fratorhe after he finishes the arguably less important PhD thesis work ;)

[2022-02-11 07:46] PythonFZ commented on #494
@christophlohrmann is this resolved?

[2022-02-11 12:48] SamTov commented on #409
Jax has a direct implementation https://jax.readthedocs.io/en/latest/_autosummary/jax.scipy.signal.correlate.html?highlight=correlate#jax.scipy.signal.correlate

[2022-02-15 07:55] PythonFZ opened #498 "Issue with reading `extxyz` files produced by ASE"
**Describe the bug**
Can not add extxyz data to MDSuite

# Error message
[code]

# Reproduce

[code]
with the following as content of `traj.extxyz`
[traj.txt](https://github.com/zincware/MDSuite/files/8067230/traj.txt)

### Header lines

- works: `Lattice="13.3 0.0 0.0 0.0 13.3 0.0 0.0 0.0 13.3" Properties=species:S:1:pos:R:3:forces:R:3 cutoff=-1.0 energy=-30664.29709663569 nneightol=0.0 i=0, pbc=

[2022-02-15 08:33] SamTov commented on #498
Can you please print the header line of the file you tried to read?

[2022-02-15 08:45] SamTov commented on #498
I would suggest this comes down more to how (assumedly ase)  defines extxyz. Because ase says all xyz is extxyz, they do not have strict standards for the dumping of the files. In this case, we could add a try statement and consider these to be extxyz files, or we raise an error saying that this is not a true extxyz file.

[2022-02-15 08:49] PythonFZ commented on #498
I do think we should try to support ASE, it is a often used tool and we will use it ourselves for running MD.
Do you know how we produced the `extxyz` files we have that work?

[2022-02-15 08:50] SamTov commented on #498
It isn't about supporting ase as much as passing this file over to an xyz file reader rather than the extxyz. Or we allow the extxyz to be completely general. As extxyz is not a well-defined format we can take either approach.

[2022-02-15 09:22] PythonFZ opened #499 "Compute Volume dynamically and don't store it"
Currently the experiment volume is computed in
https://github.com/zincware/MDSuite/blob/68a475975e4c5d8b0ee9e0432ea06d2b55b3a1fc/mdsuite/experiment/experiment.py#L621
so if you have some `xyz` data and then add the cell via `experiment.cell = [13.3, 13.3, 13.3]` the volume is not updated.

I would suggest computing the volume on the fly via `volume = np.prod(cell)` and not storing it.
This would b

[2022-02-15 09:57] SamTov commented on #499
Perhaps it can be something like the charge on species currently wherein it can be fixed or changing. Broadcasting would make this easy to apply. In any case, removing the volume attribute in favour of only having box vectors and doing the computation over either the experiment stored box vectors of hdf5 stored vectors in the case of changing box size.

[2022-02-15 13:17] #499 closed, assigned to nobody

[2022-02-21 09:52] #498 closed, assigned to SamTov, christophlohrmann

[2022-02-21 12:03] PythonFZ commented on #488
Probably not worth it

[2022-02-21 12:03] #488 closed, assigned to nobody

[2022-02-22 16:46] PythonFZ opened #503 "Use stable black release"
We are still using the non-stable release of black and should change to the stable one.

[2022-02-23 17:15] PythonFZ opened #504 "RDF issue that occasionally happens in the CI"
[code]
see also https://github.com/zincware/MDSuite/runs/5309604368?check_suite_focus=true

[2022-02-23 20:13] #392 closed, assigned to PythonFZ

[2022-02-23 20:29] SamTov commented on #487
Funnily the constant 60% confident makes me less confident in all of them 😄

[2022-02-23 20:32] PythonFZ commented on #487
I guess most of the lines mentioned here aren't unused code. But it might still be worth looking at them. If you are confident there is no legacy code we can also close this.

[2022-02-24 08:52] SamTov commented on #487
No no I was just joking because all of them say 60% confidence which just makes me less confident. Some of this is definitely legacy code.

[2022-03-07 14:18] SamTov commented on #477
@PythonFZ is this now resolved with #497

[2022-03-09 16:49] christophlohrmann opened #509 "VACF wrong in GK diffusion calculator"
The values for the autocorrelation have the wrong scale and unit

[2022-03-10 13:33] christophlohrmann opened #510 "tests fail on main"
Tests fail because DataHub has changed.

Possible solution: Make it such that you can use specific versions of DataHub and MDSuite says which version it needs.
With that you can change Datahub (and reflect the update with a version change in a PR on mdsuite) without affecting any other branch of mdsuite.

[2022-03-10 16:17] SamTov commented on #379
@christophlohrmann is this resolved?

[2022-03-10 16:23] #398 closed, assigned to nobody

[2022-03-11 13:14] #381 closed, assigned to SamTov

[2022-03-11 13:14] #509 closed, assigned to nobody

[2022-03-12 14:09] #379 closed, assigned to nobody

[2022-03-14 10:15] PythonFZ commented on #510
Will be fixed by introducing `tag` in https://github.com/zincware/ZincHub/pull/3

This will require the keyword `tag` on all occurrences of `zinchub`. It will also prohibit using data straight from main and instead require a new tag for all changes, ideally providing a description on why the data was updated.

[2022-03-14 16:10] #510 closed, assigned to nobody

[2022-03-15 15:34] christophlohrmann commented on #492
The MSD (and notably the Diffusion coefficient) are also wrong when the user uses ``atom_selection``, because it is not taken into account in the prefactor. #493 fixes this error already by replacing the manual division with ``tf.mean``

[2022-03-16 15:33] SamTov commented on #504
So I have tried again in #493 to resolve this by essentially further ensuring that there can be NO remainder in the batch but there could be a better way to avoid this. I would change the priority of this until we see it arise again but not close it until we can test this property. Perhaps in #476 this can actually be tested correctly by forcing a remainder in the batch.

[2022-03-16 16:14] #492 closed, assigned to nobody

[2022-03-16 16:15] #481 closed, assigned to nobody

[2022-03-16 16:17] #477 closed, assigned to nobody

[2022-03-16 16:17] #434 closed, assigned to SamTov

[2022-03-16 16:17] #378 closed, assigned to SamTov

[2022-03-16 16:17] #327 closed, assigned to nobody

[2022-03-17 15:35] SamTov opened #513 "Use TQDM trange and postfix for better loading bars or move to richtext"
We can use the TQDM trange, postfix, and set description to update the description of our loading bars at each iteration. This means we can include more information iteratively such as ensemble number, ensembles per second, and other important parts of our computations which should improve the clarity of the operations.

**EDIT**

I found the richtext loading bar after this issue. They look much n

[2022-03-21 10:36] #479 closed, assigned to SamTov

[2022-04-04 16:54] #503 closed, assigned to nobody

[2022-04-21 17:11] SamTov opened #519 "Add additional isomorphism tests to molecular mapping."
**What feature would you like to see added?**
We could add two new approximate isomorphism tests to the molecular graph.

* Check total number of bonds is correct. This is the sum over the adjacency matrix.
* Check rank of each atom. This is the row-wise sum over the adjacency matrix.

This will give us the four fundamental tests if isomorphism as well as a species included test giving us an even

[2022-05-09 08:17] SamTov opened #520 "add h5py minimum version to requirements"
**Describe the bug**
Current version of MDSuite does not have a set h5py version but we need to maintain a version >= 3.0

[2022-05-09 08:19] PythonFZ commented on #520
We should do this when / if moving over to poetry

[2022-05-11 14:01] PythonFZ opened #521 "Make return values of calculators numpy arrays"
https://github.com/zincware/MDSuite/blob/0d4837c730364034fe9e04af17ab368fd1353eaa/mdsuite/database/scheme.py#L266

[2022-05-30 11:34] PythonFZ opened #523 "Documentation - Read numpy data"
Add: How to use numpy input data to the documentation

Working solution can be found:
https://github.com/zincware/MDSuite/blob/0d4837c730364034fe9e04af17ab368fd1353eaa/CI/unit_tests/database/test_file_read.py#L83-L116

[2022-06-01 12:30] SamTov commented on #523
Using numpy data for a new experiment?

[2022-06-01 12:31] SamTov opened #524 "Integration range parameter is not what get's stored in the SQL database"
**Describe the bug**
In GK computations users can set an integration range to inform the calculator where to measure the value from. This value is displayed in the plot but not stored in the SQL database.

**To Reproduce**
Perform GK on diffusion and change integration range.

**Solution**

Add it to the SQL storage.

[2022-06-29 09:40] PythonFZ commented on #377
I think this can be closed

[2022-06-29 09:40] #377 closed, assigned to nobody

[2022-06-29 13:19] PythonFZ opened #527 "Remove pubchempy dependency"
_Originally posted by @SamTov in https://github.com/zincware/MDSuite/pull/522#issuecomment-1169964853_

We can ship a table of the static information required by MDSuite without requiring pubchempy to make MDSuite work offline and indepent of API requests.

[2022-06-29 13:29] PythonFZ opened #528 "Use Poetry for development"
Using setuptools has many downsides described elsewhere in much detail. Many of them can be solved by using [Poetry](https://github.com/python-poetry/poetry). Therefore, I propose changing MDSuite to use poetry as well.

This would only require some small changes in the setup and no code changes at all.
Some of the benefits would be:
- dependency lock file
- no MANIFEST.in / setup.py / requirement

[2022-06-29 14:42] SamTov commented on #528
Are there any downsides /  bugs. For example, conda environments can be built from requirements files which is no the worst thing to have the ability to do. I guess however, that poetry also interfaces somehow?

@christophlohrmann @Fratorhe

Maybe we can all throw an opinion at it.

Just to clarify my opinion, if there are no downsides or at least no unmanageable downsides and am pro.

[2022-06-29 15:10] SamTov opened #529 "Use LJ published data for difficult tests"
**What feature would you like to see added?**
We can use data from the thesis linked below to test structure, thermal conductivity, and viscosity for our calculators.

https://www.hsu-hh.de/thermodynamik/wp-content/uploads/sites/741/2017/10/Dissertation-K.-Meier.pdf

**Describe how this feature would improve the code**
Would provide an adequate solution to our problem of solving for properties tha

[2022-06-29 15:20] PythonFZ commented on #528
@laigner might have also some opinion on this topic. I don't excactly know how poetry and conda will interface but I'd assume it should work the same as with setuptools? Do you mean conda environments or conda packages?
For the environments installing from pyproject.toml is an officially accepted PEP and not something poetry specific.

In my experience with ZnTrack there might be some open questio

[2022-06-29 15:26] christophlohrmann commented on #528
I have never used poetry and did not have any problems with setuptools so far. So I do not have an opinion on which we should use

[2022-06-29 16:57] laigner commented on #528
Because I was mentioned, my opinion on Poetry.
It is really nice for a developer because you have less files and it is better in handling package dependencies but ... I had in the past as a user problems with the poetry shells (they were too often somehow broken). Pip install is the workaround here.
Another issue I faced is the compatibility for m1 apple machines, conda has at the time a pretty br

[2022-06-29 17:50] SamTov commented on #528
Overall @PythonFZ and @laigner in your experience with ZnTrack did you find it a worthwhile thing to do? And what was the biggest impact you found?

[2022-06-29 17:55] SamTov opened #530 "Look into Jax vmap and pmap for some calculators"
**What feature would you like to see added?**
For some calculators, specifically, green Kubo diffusion, including distinct, I have seen 100x speed improvements using the vmap operation in Jax. The pmap operation would also actually provide some ability to device-level parallelise calculator operations so that we could say, e.g., a calculator can parallelise over on-node devices, e.g. multiple gpu

[2022-06-29 20:21] PythonFZ commented on #528
I think it is worthwhile for a few reasons:
- I like a single file over multiples and therefore, supporting the poetry project
- maintaining requirements in a single file compared to two/three files is much simpler and reduces mistakes, e.g. having something in dev and production.
- I really like the idea of a lock file for dependencys and think this avoids issues in the long term for development.

[2022-06-30 05:40] SamTov commented on #528
Let's give it a week to decide as I'd like to do a bit of research to see if I can see any clear issues.

[2022-07-01 07:40] PythonFZ commented on #528
One more benefit of poetry is that it automatically installs dev requirements when making a dev installation via `poetry install` and does not require `pip install -r dev-requirements.txt`

[2022-07-01 07:58] SamTov opened #531 "Add a set of MDSuite colours"
First mention by @PythonFZ, we should add some special set of MDSuite defined colours to that they are more standard and easier to user.

[2022-07-01 08:19] PythonFZ opened #533 "Add `mds.units.METAL`"
We could add the following enums for user / developer friendlier code:

[code]

They already exist but can not be used from outside
https://github.com/zincware/MDSuite/blob/ffb8ae91b1fef8495a2e1b69e80ba4ad82979272/mdsuite/utils/units.py#L95

[2022-07-01 10:41] PythonFZ commented on #528
@SamTov If you want to make yourself familiar check out https://github.com/zincware/MDSuite/tree/528-use-poetry-for-development

It only took 15 mins and I wanted to test something out anyways.

[2022-07-03 13:00] #524 closed, assigned to SamTov

[2022-07-04 13:49] #531 closed, assigned to nobody

[2022-07-20 08:55] PythonFZ opened #537 "prohibit experiment names starting with a number"
**Describe the bug**

If you use something like

[code]

you can not access it via

[code]

There are two possible solutions:
- rename experiments automatically
- prohibit names starting with a number

I'm in favor of raising an error when someone tries to use an experiment name starting with a number.

[2022-07-20 09:20] PythonFZ opened #539 "rename `box_array` to `cell` or `box`"
**What feature would you like to see added?**

[code]

[2022-07-20 14:22] PythonFZ opened #540 "Remove Experiments not easily possible"
**Describe the bug**
Running a calculator should not create an experiment

**To Reproduce**
Steps to reproduce the behavior:
1. Add multiple experiments
2. Remove the directory in `Project/<exp>`
3. Restart Kernel
4. Run calculator
5. Error: a new experiment will be create for you

[2022-07-20 14:22] SamTov commented on #533
Yeah I really like it.

[2022-07-20 14:24] SamTov commented on #537
Yeah if it can end in a number no reason to make it possible to start with one, I agree to just raising an error.

[2022-07-20 14:26] SamTov commented on #539
So if we go with cell we should probably use all the cell vectors. In general our box arrays are name because it is a single array with three numbers. This is quite bad and not descriptive. Cell is also not incredibly descriptive. I would perhaps consider maybe a dataclass called `Geometry` or something and within it add the properties of the simulation box.

[2022-07-20 14:27] SamTov commented on #540
I think the problem here or, bug, is two things. One we need a way to delete experiments but we also need to protect the creation of new experiments. When a project is loaded, the pipeline could load all experiments such that it is never called again, this would avoid the bug being alluded to here.

Ideally, we add a project method that deletes experiments.

[2022-07-21 10:41] PythonFZ opened #542 "Write unittests for database scheme"
The full code e.g.
https://github.com/zincware/MDSuite/blob/55e1ac6ff7c5ac3c08190e8e58c5104b0edd07df/mdsuite/database/scheme.py#L193-L196
is currently not tested in unittests.

[2022-07-27 14:12] SamTov opened #546 "Number of atoms not showing in lammpstraj read"
**Describe the bug**
It seems that the number of atoms is not being read in for at least the lammps trajectory. It is possible that this only occurs on experiment loading but I do not know for sure yet.

**To Reproduce**
Run the comparing molten salts example notebook and look at the number of atoms attribute.

**Expected behavior**
Number of atoms to be read in correctly and loaded correctly afte

[2022-07-28 14:29] #537 closed, assigned to nobody

[2022-07-28 15:31] #409 closed, assigned to nobody

[2022-07-29 08:42] PythonFZ opened #549 "Update Documentation"
#548 fixed some urgent RTD issue but left open:

- [ ] When running `make html` I get the following error (and a lot of warnings about missing docstrings which we will resolve over time)
[code]

A few things that I noticed when reading through the documenation:

- [ ] We use both `pip` and `pip3` and because python2 is EOL for quite some time, I would propose to stick with only unsing `pip`
- [ ]

[2022-07-29 09:36] #424 closed, assigned to tobiasmerkt

[2022-07-29 09:36] #427 closed, assigned to nobody

[2022-07-29 09:56] SamTov commented on #371
@Fratorhe was this resolved in the end? If not it is quite a serious issue still.

[2022-07-29 12:03] Fratorhe commented on #371
I remember they were working afterwards, but I need to get back and check it...
Let's discuss on monday as planned.

[2022-08-08 07:15] #546 closed, assigned to SamTov, christophlohrmann

[2022-08-10 16:39] #462 closed, assigned to nobody

[2022-08-10 16:39] #463 closed, assigned to nobody

[2022-08-10 16:39] #530 closed, assigned to nobody

[2022-08-10 16:48] SamTov commented on #371
@Fratorhe sorry we totally forgot to discuss this on Monday. Is this resolved?

[2022-08-16 11:04] #533 closed, assigned to nobody

[2022-08-17 06:25] #494 closed, assigned to PythonFZ

[2022-08-26 11:18] SamTov opened #556 "Advanced particle unwrapping"
**What feature would you like to see added?**
In line with our guidelines on bringing state of the art analysis tools to the software, it would be nice to look at some of the more advanced methods for trajectory unwrapping particularly for NPT simulations.

https://pubmed.ncbi.nlm.nih.gov/32668935/

https://arxiv.org/abs/2111.12052

[2022-09-02 08:55] PythonFZ opened #557 "Use `conftest.py` to simplify tests"
See https://docs.pytest.org/en/6.2.x/fixture.html#scope-sharing-fixtures-across-classes-modules-packages-or-session

tl;dr

Add a file `CI/conftest.py` and put all repeated fixtures there. They will be used automatically and can be removed from the individual tests.

https://github.com/zincware/MDSuite/blob/d159167c789a9ced0ab483d03d79c47e10c9435e/CI/integration_tests/calculators/test_green_kubo_d

[2022-09-02 11:31] SamTov commented on #557
It's a nice idea. I think with the use of live simulation data most of these will be removed but then there will be a repeated call to some type of simulation framework and so the same thing stands. Let's wait until we know what the test framework will look like and then move forward.

[2022-09-20 10:29] PythonFZ opened #558 "requirement resolving could cause issues"
**Describe the bug**
I installed mdsuite via pip on a System with TensorFlow already installed:
`ImportError: This version of TensorFlow Probability requires TensorFlow version >= 2.10; Detected an installation of version 2.9.1. Please upgrade TensorFlow to proceed.
`

Issues like these could probably resolved by using poetry as proposed in #528 or manually keep the `requirements.txt` updated prop

[2022-09-20 11:11] SamTov commented on #558
This is quite a normal issue for any project, we have a poetry issue open, we can look at integrating it into MDSuite, otherwise, we need to update our tensor flow requirements or, which will happen soon enough, remove TF probability and replace it with the Jax implementation of the correlation operators as in the distinct diffusion coefficients.